* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* align-items: center; */
  background-color: #d7a4e6;
  font-family: "Amarante", serif;
}

section {
  background-color: #a975b8;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  height: 70vh;
  background-color: #fff3c3;
  width: 60%;
  border-radius: 20px;
  padding: 40px 30px 30px 30px;
}

p {
  margin: 20px 0 30px 0;
  color: gray;
}

#inputText {
  display: block;
}
.inputDiv {
  display: flex;
  justify-content: space-between;
  width: 92%;
}

.inputDiv input,
button,
.delBtn {
  font-family: "Amarante", serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.inputDiv input {
  width: 70%;
  /* margin-right: 15px; */
  border: 2px solid rgb(228, 224, 224);
}

.inputDiv button {
  background-color: #a975b8;
  color: white;
  width: 20%;
}

.eachList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin: 20px 4px;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.delBtn {
  background-color: orangered;
}

.lastDiv {
  display: flex;
  justify-content: space-between;
  width: 93%;
  border-top: 2px solid rgb(228, 224, 224);
  padding-top: 30px;
  color: grey;
}

button:hover {
  cursor: pointer;
  filter: brightness(80%);
}
